.header-box {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #CDCEFA;
  .header-left {

  }
  .header-center {
  }
  .header-right {
  }
}
